**/.DS_Store
**/.idea
**/*.iml
**/*.js
**/*.d.ts
**/node_modules
!webpack.config.js
**/.nyc_output
**/coverage
**/dist
local-env.sh
/sdkPlayground/
!/lambda/api/src/types/aws-serverless-express/index.d.ts
/ui-react/src/config/autoGenConfig.*
env.sh
metadata.xml
