#!/usr/bin/env bash

#TODO: change these to your settings
export AWS_SDK_LOAD_CONFIG=1 # allows the SDK to load from config. see https://github.com/aws/aws-sdk-js/pull/1391

export STACK_NAME=<the cloudformation stack name, e.g. MyAppName>
export STACK_ACCOUNT=<explicitly define the account you intend to deploy into>
export STACK_REGION=<explicitly define the region you intend to deploy into>
export COGNITO_DOMAIN_NAME=<cognito auth subdmain, e.g. myappname>
export GROUPS_ATTRIBUTE_NAME=<the custom attribute that will contain the groups from SAML, e.g. ADGroups>
export IDENTITY_PROVIDER_NAME=<the name you want for the Identity Provider, e.g. ADFS, Okta>
export IDENTITY_PROVIDER_METADATA_URL=<the metadata URL for your SAML 2.0 identity provider>
