<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand" href="/">Amazon Cognito + AWS Amplify + Angular Demo</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <ng-container *ngIf="model.user">
    <span *ngFor="let group of model.user.groups"
          class="badge badge-{{group.endsWith('admins') ? 'success' : 'info'}} mr-2">{{group}}</span>
    </ng-container>

    <div class="my-2 my-lg-0 navbar-nav">

      <ng-container *ngIf="model.user; else noUser">
        <div class="nav-item dropdown">
          <button class="nav-link dropdown-toggle btn btn-link" data-toggle="dropdown">{{model.user.name || model.user.email}}</button>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item btn btn-warning" (click)="signOut()">Sign Out</button>
          </div>
        </div>
      </ng-container>
      <ng-template #noUser>
        <button class="btn btn-primary m-1" (click)="signIn('IdP')">Single Sign On</button>
        <button class="btn btn-primary m-1" (click)="signIn()">Sign In / Sign Up</button>
      </ng-template>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div *ngIf="model.errorMessage" (click)="model.errorMessage = undefined" class="alert alert-warning">{{model.errorMessage}}</div>
  <div *ngIf="model.infoMessage" (click)="model.infoMessage = undefined" class="alert alert-info">{{model.infoMessage}}</div>

  <div *ngIf="!model.user" class="alert alert-info">Please sign in</div>


  <div *ngIf="model.user" class="container">

    <table class="table">
      <thead>
      <tr>
        <th>owner</th>
        <th>type</th>
        <th>price</th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let pet of model.pets" id="row{{pet.id}}"
          (click)="setSelectedPet(pet)"
          class="{{model.selectedPet && pet.id === model.selectedPet.id ? 'table-active' : ''}}">
        <td><span class='badge badge-secondary'>{{pet.ownerDisplayName}}</span></td>
        <td><strong>{{pet.type}}</strong></td>
        <td>{{pet.price | currency}}</td>
      </tr>

      </tbody>
    </table>

    <ng-container *ngIf="model.selectedPet && model.selectedPet.id">
      <button class="btn btn-danger m-1" (click)="deletePet()">Delete</button>

    </ng-container>


    <button class="btn btn-primary m-1" (click)="newPet()">Create New</button>
    <button class="btn btn-success m-1" (click)="this.loadAllPets()">Reload</button>


    <div class="card" *ngIf="model.selectedPet">
      <div class="card-body">
        <form class="form-inline" (submit)="savePet()">
          <input class="form-control" type="hidden" [(ngModel)]="model.selectedPet.id" placeholder="Id" name="petId">
          <input class="form-control" type="text" [(ngModel)]="model.selectedPet.type" placeholder="Type" name="petType">
          <input class="form-control" type="text" [(ngModel)]="model.selectedPet.price" placeholder="Price" name="petPrice">
          <button type="submit" class="btn btn-success m-1">{{model.selectedPet.id ? "Update" : "Save"}}</button>
        </form>
      </div>
    </div>
    <div *ngIf="model.loading" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>

</div>
